body.dark-mode {
    background-color: #121212;
    color: white;
}
.card.dark-mode {
    background-color: #1e1e1e;
    color: white;
}
.dropdown-menu {
    position: relative;
    z-index: 9999;
}
.card {
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-10px);
}
.card:hover.light-mode {
    border: 2px solid orange;
}
.card:hover.dark-mode {
    border: 2px solid #00aaff;
}
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
}
header.dark-mode {
    background-color: #343a40;
}
#theme-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
#theme-switch label {
    margin-left: 10px;
    font-size: 1.2em;
}
#themeToggle {
    appearance: none;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 30px;
    position: relative;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 2px solid #000;
}
#themeToggle::before {
    content: '🌞';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    transition: all 0.3s;
}
#themeToggle::after {
    content: '🌜';
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    opacity: 0;
    transition: all 0.3s;
}
#themeToggle:checked {
    background-color: #343a40;
}
#themeToggle:checked::before {
    opacity: 0;
}
#themeToggle:checked::after {
    opacity: 1;
}
#themeToggle:checked + label::before {
    left: 35px;
}
#language-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}
.dropdown-menu {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #ddd;
}
.dropdown-item:hover {
    background-color: #007bff;
    color: white;
}
